@font-face {
	font-family: 'Paciencia';
	src: url('3937D0_0_0.eot');
	src: url('3937D0_0_0.eot?#iefix') format('embedded-opentype'),
		url('3937D0_0_0.woff') format('woff'),
		url('3937D0_0_0.ttf') format('truetype');
}